body {
    background-color: #2f2fa2;
}

button{
    background-color: #fc4672;
    border-color: #fc4672;
}

input{
    background-color: #fc4672;
    border-color: #fc4672;
}

p{
    color: whitesmoke;
    font-weight: bolder;
}

.thevideo{
     background-color: cornsilk;
     border-color: cornsilk;
 }


.disclaimer{
    position: absolute;
    width: 80%;
    bottom: 15px;
    font-size: xx-small;
    color: #b3d4fc;
}
.sourcecode{
    position: absolute;
    width: 80%;
    bottom: 10px;
    color: #b3d4fc;
    font-size: xx-small;
}
.getback{
    font-style: italic;
    text-align: center;
}

#hey{
    float: right;
}

#hey2{
    float: right;
}

#heys{
    float: left;
}

#heys1{
    float: left;
}

#st{
    position:absolute;
    transition: .5s ease;
    top: 50%;
    left: 45%;

}
/* Style the collapsible content. Note: hidden by default */
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #2f2fa2;
}